.message-me {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 4%;
    padding-right: 4%;
    margin: 1%;
    border-radius: 500px;
    display: inline-block;
}

.message-not-me {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 4%;
    padding-right: 4%;
    margin: 1%;
    border-radius: 500px;
    display: inline-block;
    float: right;
}

textarea {
    width: 100%;
    resize: none;
    border-radius: 500px;
    padding: 4%;
    outline: none;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 4%;
    padding-bottom: 3%;
}

.bottom-div {
    position: absolute;
    bottom: 5px;
}